@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
  color:#1f1e1e;
}

a {
  text-decoration: none;
}

.home__main {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1500px;
  height: 100vh;
  font-size: 40px;
}

/* home-main */

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__preface {
  font-size: 30px;
  font-weight: 600;
  transform: rotate(30deg);
  margin-left: 20px;
}

.header__animal {
  display: flex;
}

.header__animal > a:hover {
  background-color: #FFCD00;
}

.header__animal > a {
  font-weight: 600;
  padding: 30px;
  transition: all .4s;
}

/* home-center */

.home__center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.center__informationName {
  width: 100%;
  margin-top: 10px;
}

.center__informationName div p {
  display: inline-block;
  border-bottom: 2px solid #FFCD00;
}

.center__intro {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
}

/* swiper */  
.swiper-container {
  max-width: 662px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 3px -1px #1f1e1e;
}

.swiper-slide a div {
  width: 100%;
  height: 70%;
}

.swiper-slide a div > img {
  width: 100%;
  height: 100%;
}

.img__intro {
  padding: 10px 20px;
  position: relative;
  font-size: 13px;
  background-color: aliceblue;
  font-family: 'Noto Sans KR', sans-serif;
}

.swiper-slide:nth-child(1) {
  margin-left: 0;
}

/* home-new */

.home__new {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.home__new > p {
  display: inline-block;
  width: 300px;
  margin: 30px auto;
  text-align: center;
  border-bottom: 3px solid #FFCD00;
  transition: all 0.2s;
}

.home__new > p:hover {
  color: #FFCD00;
}

.new__container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.new__left {
  display: flex;
  align-items: end;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  background-image: url('../img/dog1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.new__intro {
  width: inherit;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.new__intro p {
  text-align: center;
  color: azure;

}

.new__right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right__1, 
.right__2 {
  width: 480px;
  height: 145px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #D9D9D9;
}

.right__1 {
  display: flex;
}

.right__2 {
  display: flex;
}

.right__img,
.right__img2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right__img {
  width: 200px;
  background-image: url('../img/dog7.jpeg');
}

.right__img2 {
  width: 247px;
  background-image: url('../img/dog6.jpeg');
}

.right__text {
  padding: 10px;
}

.rg__text1 {
  font-size: 30px;
}

.rg__text2 {
  font-size: 20px;
  color: #919391;
}

/* home-information */

.home__information {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inf__header {
  display: inline-block;
  width: 300px;
  text-align: center;
  border-bottom: 3px solid #FFCD00;
}

.inf__book {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 90%;
}

.inf__book a {
  width: 250px;
  height: 350px;
}

.inf__book div {
  width: inherit;
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.book__1 {
  background-image: url('../img/info-img1.png');
}
.book__2 {
  background-image: url('../img/info-img2.png');
}
.book__3 {
  background-image: url('../img/info-img3.png');
}
.book__4 {
  background-image: url('../img/info-img4.png');
}


.inf__book p {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  color: black;
}