@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');


.home__main {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(218, 241, 241);
  max-width: 1500px;
  height: 100vh;
  font-size: 40px;
}

/* home-main */

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__preface {
  font-size: 30px;
  font-weight: 600;
  transform: rotate(30deg);
  margin-left: 20px;
}

.header__animal {
  display: flex;
}

.header__animal > a:hover {
  background-color: #FFCD00;
}

.header__animal > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 30px;
  transition: all .4s;
}

/* home-center */

.home__center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.center__informationName {
  width: 100%;
  margin-top: 10px;
}

.center__informationName div p {
  display: inline-block;
  border-bottom: 2px solid #FFCD00;
}

.center__intro {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
}

/* swiper */  
.swiper-container {
  max-width: 662px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 3px -1px #1f1e1e;
}

.swiper-slide a {
  text-decoration: none;
  color: black;
}

.swiper-slide a div {
  width: 100%;
  height: 70%;
}

.swiper-slide a div > img {
  width: 100%;
  height: 100%;
}

.img__intro {
  padding: 10px 20px;
  position: relative;
  font-size: 13px;
  background-color: aliceblue;
  font-family: 'Noto Sans KR', sans-serif;
}

.swiper-slide:nth-child(1) {
  margin-left: 0;
}