@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.login__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    height: 500px;
    background-color: #EEEFF1;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login__form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.login__button {
    background-color: #1BBC9B;
    margin-bottom: 30px;
    color: white;
}

.login__inner a {
    text-decoration: none;
    color: #9B9B9B;
    font-size: 12px;
}